ankipandas==0.3.3
ankitools==0.3.7
appdirs==1.4.4
beautifulsoup4==4.9.0
bs4==0.0.1
cached-property==1.5.1
certifi==2020.4.5.1
chardet==3.0.4
colorlog==4.1.0
et-xmlfile==1.0.1
frozendict==1.2
genanki==0.8.0
idna==2.9
jdcal==1.4.1
lml==0.0.9
numpy==1.18.4
openpyxl==2.6.4
pandas==1.0.3
psutil==5.7.0
pyexcel-io==0.5.20
pyexcel-xlsx==0.5.8
pystache==0.5.4
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
RandomFileTree==1.2.0
requests==2.23.0
six==1.14.0
soupsieve==2.0
urllib3==1.25.9
